* {
    border: 2px solid red;/**/
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.logo {
    height: 20px;
    align-items: center;
}

.box1 {
    display: flex;
    margin: 0;
    padding: 120px;
}

.l-box1,
.r-box1 {
    flex: 1;
}

.box2 {
    display: flex;
    flex-direction: column;
}

.text {
    width: 200px;
    text-align: center;
}

.box2 > h2 {
    text-align: center;
}

.stuff {
    display: flex;
    justify-content: center;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}